<html>
<head>
<title>Final</title>
<style>
    body {margin: 1%; background-image: linear-gradient(to right, white, aliceblue);}
    h1 {color:teal;}
    a {color: grey;}
    a:hover {color: powderblue;}
    ul {color: grey;}
</style>
</head>
<h1>YOUR NAME ⤦</h1>
<body>
<%= form_for @teashop, url: {action: "create"} do |f| %>
    <%= f.hidden_field :teacount, value: "0" %>
    <%= f.hidden_field :autoclick, value: "0" %>
    <%= f.text_field :cafename %>
    <%=   f.submit "Start"  %>
<% end %>

</body>
</html>